.enter {
  transition: all 250ms;
  transform: translateX(100%);
}

.enterActive {
  opacity: 1;
  transform: translateX(0%);
}

.exit {
  opacity: 1;
  transform: translateX(0%);
  transition: all 250ms;
}

.exitActive {
  opacity: 0;
  transform: translateX(100%);
}
